h1, h2, h3, h4, h5, h6, p, div, span, li {
  font-family: Verdana, Geneva, sans-serif;
}

div.nav {
}

div.nav ul {
  list-style: none;
  text-align: center;
}

div.nav ul li {
  display: inline;
  margin-left: 12pt;
  margin-right: 12pt;
}

div.nav a {
  text-decoration: none;
  color: #3333cc;
}
